input[type="text"]
{
	font-size: 18px;
	padding: 5px;
	border: 2px solid #9c8679;
	width: 350px;
}

input[type="submit"]#btn-submit
{
/*	background: #a3c930;*/
	background: #fcb040;
	height: 36px;
	width: 150px;
	color: #fff;
	border: none;
	font-size: 17px;
}